body {
  font-family: tahoma;
  color: #282828;
  margin: 0px;
}
#app {
  display: block;
  align-items: center;
  padding: 0 4rem;
}
* {
  border-radius: 0.6rem;
}
.header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.nav-bar {
  background: linear-gradient(-90deg, #84cf6a, #16c0b0);
  height: 60px;
  margin-bottom: 15px;
}
.size {
  display: flex;
  margin: 8px;
  align-items: center;
  justify-content: center;
}
.size:first-of-type {
  margin-left: 0;
}
.space_between {
  flex: 1;
}
.products {
  margin: 1rem 0;
  background-color: #ededed;
  justify-content: center;
  align-items: center;
  /* width: fit-content; */
}
.product {
  display: flex;
  flex: 1;
  flex-flow: wrap;
  padding: 1rem;
  height: fit-content;
}
img {
  margin: 1.2rem;
  border: 1px solid #d8d8d8;
  margin: 12px;
  min-height: 10rem;
  min-width: 10rem;
  width: auto;
  heigth: auto;
  max-height: 20rem;
  max-width: 20rem;
  box-shadow: 0px 0.5px 1px #d8d8d8;
}
.product-image {
  flex: 1;
  margin: 0;
}
.product-info {
  flex-grow: 1;
  align-self: center;
  justify-self: center;
  padding-left: 1rem;
  margin: 0 3rem 0 1rem;
  border-radius: 0;
  border-left: 1px solid;
}
.color-box {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}
.cart {
  color: #fff;
  margin-top: 16px;
  justify-self: flex-end;
  flex: 1;
  width: max-content;
  height: min-content;
  float: right;
  padding: 1rem;
  border: 1px solid #d8d8d8;
  background-color: #777;
}
.cart > * {
  text-align: end;
}
button {
  border: none;
  background-color: #1e95ea;
  color: white;
  height: 40px;
  width: 100px;
  font-size: 14px;
}
.disabledButton {
  background-color: #d8d8d8;
}
.review-form {
  width: 400px;
  padding: 20px;
  margin: 40px;
  border: 1px solid #d8d8d8;
}
input {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
}
textarea {
  width: 100%;
  height: 60px;
}
.tab {
  margin-left: 20px;
  cursor: pointer;
}
.activeTab {
  color: #16c0b0;
  text-decoration: underline;
}
